global
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon
    log {{ interface_IP }} local0
    stats socket /var/lib/haproxy/stats
    maxconn 4000

defaults
    log    global
    mode    http
    option    httplog
    option    dontlognull
#        contimeout 5000
#        clitimeout 50000
#        srvtimeout 50000
#    errorfile 400 /etc/haproxy/errors/400.http
#    errorfile 403 /etc/haproxy/errors/403.http
#    errorfile 408 /etc/haproxy/errors/408.http
#    errorfile 500 /etc/haproxy/errors/500.http
#    errorfile 502 /etc/haproxy/errors/502.http
#    errorfile 503 /etc/haproxy/errors/503.http
#    errorfile 504 /etc/haproxy/errors/504.http

listen stats {{ controller_IP }}:1936
        mode http
        stats enable
        stats uri /stats
        stats realm HAProxy\ Statistics
        stats auth admin:password

listen galera {{ controller_IP }}:3306
        balance source
        mode tcp
        option tcpka
        option mysql-check user haproxy
        server MySQL1 {{ controller1_IP }}:3306 check weight 1
        server MySQL2 {{ controller2_IP }}:3306 check weight 1
listen memcached {{ controller_IP }}:11211
        balance source
        option tcpka
      #  option httpchk
        maxconn 10000
        server controller1 {{ controller1_IP }}:11211 check inter 2000 rise 2 fall 5
        server controller2 {{ controller2_IP }}:11211 check inter 2000 rise 2 fall 5
listen keystone_admin {{ controller_IP }}:35357
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller1 {{ controller1_IP }}:35357 check inter 2000 rise 2 fall 5
        server controller2 {{ controller2_IP }}:35357 check inter 2000 rise 2 fall 5

listen keystone_api {{ controller_IP }}:5000
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller1 {{ controller1_IP }}:5000 check inter 2000 rise 2 fall 5
        server controller2 {{ controller2_IP }}:5000 check inter 2000 rise 2 fall 5
listen glance-api {{ controller_IP }}:9292
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller1 {{ controller1_IP }}:9292 check inter 2000 rise 2 fall 5
        server controller2 {{ controller2_IP }}:9292 check inter 2000 rise 2 fall 5

listen glance-registry {{ controller_IP }}:9191
        balance source
        option tcpka
        maxconn 10000
        server controller1 {{ controller1_IP }}:9191 check inter 2000 rise 2 fall 5
        server controller2 {{ controller2_IP }}:9191 check inter 2000 rise 2 fall 5

listen nova_ec2 {{ controller_IP }}:8773
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller1 {{ controller1_IP }}:8773 check inter 2000 rise 2 fall 5
        server controller2 {{ controller2_IP }}:8773 check inter 2000 rise 2 fall 5

listen nova_osapi {{ controller_IP }}:8774
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller1 {{ controller1_IP }}:8774 check inter 2000 rise 2 fall 5
        server controller2 {{ controller2_IP }}:8774 check inter 2000 rise 2 fall 5

listen nova_metadata {{ controller_IP }}:8775
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller1 {{ controller1_IP }}:8775 check inter 2000 rise 2 fall 5
        server controller2 {{ controller2_IP }}:8775 check inter 2000 rise 2 fall 5

listen novnc {{ controller_IP }}:6080
        balance source
        option tcpka
        maxconn 10000
        server controller1 {{ controller1_IP }}:6080 check inter 2000 rise 2 fall 5
        server controller2 {{ controller2_IP }}:6080 check inter 2000 rise 2 fall 5

listen neutron {{ controller_IP }}:9696
        balance source
        option tcpka
        maxconn 10000
        server controller1 {{ controller1_IP }}:9696 check inter 2000 rise 2 fall 5
        server controller2 {{ controller2_IP }}:9696 check inter 2000 rise 2 fall 5

listen heat_api {{ controller_IP }}:8004
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller1 {{ controller1_IP }}:8004 check inter 2000 rise 2 fall 5
        server controller2 {{ controller2_IP }}:8004 check inter 2000 rise 2 fall 5

listen heat_api_cfn {{ controller_IP }}:8000
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller1 {{ controller1_IP }}:8000 check inter 2000 rise 2 fall 5
        server controller2 {{ controller2_IP }}:8000 check inter 2000 rise 2 fall 5

listen dashboard {{ controller_IP }}:80
        balance  source
        capture  cookie vgnvisitor= len 32
        cookie  SERVERID insert indirect nocache
        mode  http
        option  forwardfor
        option  httpchk
        option  httpclose
        rspidel  ^Set-cookie:\ IP=
        server node1 {{ controller1_IP }}:80 cookie control01 check inter 2000 rise 2 fall 5
        server node2 {{ controller2_IP }}:80 cookie control02 check inter 2000 rise 2 fall 5
