global_defs {
  router_id {{ hostname }}
}
vrrp_script haproxy {
  script "killall -0 haproxy"
  interval 2
  weight 2
}
vrrp_instance {{ V_Router_ID }} {
  virtual_router_id {{ V_Router_ID }}
  advert_int 1
  priority 101
  state MASTER
  interface {{ interface }}
  virtual_ipaddress {
    {{ controller_IP }} dev {{ interface }}
  }
  track_script {
    haproxy
  }
}
