#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
server_id={{ controller_id }}
bind-address= {{ ansible_default_ipv4.address }}
#
# * Galera-related settings
#
[galera]
# Mandatory settings
wsrep_on=ON
wsrep_provider=/usr/lib64/galera/libgalera_smm.so #Synchronous multi-master wsrep provider
wsrep_slave_threads=4 # Should be equal to the number of cpu-cores.
{% if hostname == "controller1" %}
wsrep_cluster_address='gcomm://'
{% else %}
wsrep_cluster_address='gcomm://{{ controller1_IP  }},{{ controller2_IP }}'
{% endif %}
wsrep_provider_options="pc.recovery=TRUE;gcache.size=300M"
wsrep_cluster_name='dbcluster'
wsrep_node_address='{{ interface_IP }}'
wsrep_sst_method=rsync   #replication method rsync (rsync package is installed with galerapackage).This is the fastest and recommended method, especially for large datasets since i#t copies binary data
wsrep_sst_auth=root:password  #using root user with password password (set during MariaDB configuration)
binlog_format=ROW  #SQL logging format,Records events affecting individual table rows.
default_storage_engine=InnoDB
innodb_doublewrite=1
query_cache_size=0
innodb_autoinc_lock_mode=2
wsrep_node_name='{{ hostname }}'
wsrep_debug=1
# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.0 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.0]

